table {
  border-collapse: collapse;
  border: 1px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  width: 100%;
}

table.rounded-corners {
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
tfoot {
  background-color: rgb(245, 228, 228);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;

}

td {
  text-align: center;
}

tbody>tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}

h1 {
  background-color: #FFEFEF;
}

.content-part {
  background-color: white;
  margin: 30px auto 30px auto;
  padding: 40px 40px 60px 40px;
  border-radius: 15px;
  width: 70%;


}